# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Project
.state/
openapi_specs/*.json
openapi_specs/*.yaml
var/

# OS
.DS_Store

# env
.env
apis_by_namespace.json

